
[Unit]
Description=BoilerApi application (Gunicorn + Uvicorn workers)
After=network.target

[Service]

Type=simple
User=boilerapi
Group=boilerapi
WorkingDirectory=/opt/boilerapi-service

#+ If using a virtualenv, replace /usr/local/bin/gunicorn with: /opt/boilerapi-service/.venv/bin/gunicorn
ExecStart=/usr/local/bin/gunicorn \
    -k uvicorn.workers.UvicornWorker \
    -w 2 \
    -b 0.0.0.0:8080 \
    app.main:app

Restart=always
RestartSec=3
TimeoutStopSec=30
KillSignal=SIGINT
SyslogIdentifier=boilerapi-app

[Install]
WantedBy=multi-user.target
