
[Unit]
Description=BoilerApi service (Gunicorn + Uvicorn workers)
After=network.target

[Service]

Type=simple
User=boilerapi
Group=boilerapi
WorkingDirectory=/opt/boilerapi-service

#+ If using a virtualenv, replace /usr/local/bin/gunicorn with: 
ExecStart=/opt/boilerapi-service/.venv/bin/gunicorn \
  -c python:app.gunicorn_conf \
  app.main:app

Restart=always
RestartSec=3
TimeoutStopSec=30
KillSignal=SIGINT
SyslogIdentifier=boilerapi-service

[Install]
WantedBy=multi-user.target
